<div class="app flex-row align-items-center">
    <div class="container-fluid">
       <div class="row"> 
         <div class="col-md-9 mx-auto">
          <div class="card">
             <div class="col-md-12">
                <h1 class="text-center text-black-50 font-weight-bold d-none d-md-block"><i><u>{{'Subscription Details'}}</u></i></h1>
                <h2 class="text-center text-black-50 font-weight-bold d-block d-md-none">{{'Subscription Details'}}</h2>
             </div>
             <div class="car-body" *ngIf="subscription">
                   <div class="row">
                       <div class="form-group col-md-6">
                           <label><b>Subscription Type</b></label> {{subscription.subscriptionType}}
                       </div>
                       <div class="form-group col-md-6">
                           <label><b>Price</b></label> {{subscription.price}}
                       </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label><b>Date debut</b></label> {{subscription.dateDebut | date}}
                        </div>
                        <div class="form-group col-md-6">
                            <label><b>Date fin</b></label> {{subscription.dateFin | date}}
                        </div>
                    </div>
                    <div class="row" *ngIf="subscription.user">
                        <div class="form-group col-md-6">
                            <label><b>Subscribe by</b></label>
                                    {{subscription.user.username}}
                        </div>
                        <div class="form-group col-md-6">
                            <label><b>Subscriber phone-number</b></label> {{subscription.user.phoneNumber}}
                        </div>
                    </div>
                </div>
            </div>
            <p align="center"><button (click)="list()" class="btn btn-info">Back to subscription List </button> </p>
        </div>
      </div>
    </div>
</div>