<!-- Footer -->
<footer class="page-footer font-small elegant-color bg-secondary text-light">

        <div class="color-primary">
          <div class="container-fluid">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center bg-info text-white">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text"> </i>
                </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
        </div>

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left pt-4 pt-md-5">

          <!-- Grid row -->
          <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

              <!-- Links -->
              <h5>About Caref</h5>
              <hr class="mb-4 mt-0 w-60 bg-info">

              <p class="foot-desc mb-0 text-white">
                Here you can use rows and columns to organize your footer content. Lorem
                ipsum dolor sit amet,
                consectetur
                adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <hr class="mb-4 mt-0 w-60 bg-info">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

              <!-- Links -->
              <h5>Services</h5>
              <hr class="mb-4 mt-0 w-60 bg-info">

              <ul class="list-unstyled text-light-50">
                <li class="mb-2">
                  Post Cars
                </li>
                <li class="mb-2">
                  Rent Cars
                </li>
                <li class="mb-2">
                  Sell Cars
                </li>
                <li class="mb-2">
                  Localize Garage
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

              <!-- Links -->
              <h5>Useful links</h5>
              <hr class="mb-4 mt-0 w-60 bg-info">

              <ul class="list-unstyled foot-desc text-light-50">
                <li class="mb-2">
                  Your Account
                </li>
                <li class="mb-2">
                  Become an Affiliate
                </li>
                <li class="mb-2">
                  Shipping Rates
                </li>
                <li class="mb-2">
                  Help
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

              <!-- Links -->
              <h5>Contacts</h5>
              <hr class="mb-4 mt-0 w-60 bg-info">

              <ul class="fa-ul foot-desc ml-4 text-light-100">
                <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Carrefour Ntsimi, Yaoundé 7
                </li>
                <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>+237 656 197 707</li>
                <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>contact@ifroce5.com</li>
                <li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Friday: 08-18</li>
              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 bg-dark">© 2021 Copyright:
          <a class="text-info"> Iforce5.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
